# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\黑马57期\08SSM整合\TravelAdmin\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
